# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Secrets 
.env
*.env

# Gradio cache
.gradio/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Modelos y datos cacheados o generados
models_cache/

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDEs
.vscode/
.idea/
